<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado de animales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input [(ngModel)]="filtro" placeholder="Introduce el tipo de animal">
  </ion-input>
 <ion-grid>
  <ion-row>
    <ng-container *ngFor="let animal of animales | async">
      <ion-col *ngIf="filtro=='' || filtro == animal.Tipo" size-xl="2" size-lg="2" size-md="4" size-sm="6" size-xs="12">
        <ion-card >
          <ion-card-content>
            <ion-avatar>
              <img [src]="animal.Imagen">
            </ion-avatar>
          <h1>{{animal.Nombre}}</h1>
            <h2>{{animal.Tipo}}</h2>
            <p>{{animal.Ubicacion}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ng-container>
  </ion-row>
 </ion-grid>
</ion-content>
